/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: #ffffff;
	line-height: 24px;
	background: #1c1b21;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container--header {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 20px;
}
.header__inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__logo {
	display: block;
}
.nav {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
}
.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 28px;
	color: #ffffff;
	text-decoration: none;
	position: relative;
}

/* Intro */
.intro {
	position: relative;
	background: url(../img/Intro.jpg) center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 222px;
}
.intro__inner {
	width: 100%;
	margin: 0 auto;
}
.intro__suptitle {
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	color: #ffffff;
	margin-bottom: 10px;
}
.intro__title {
	font-weight: 700;
	font-size: 100px;
	line-height: 150px;
	color: transparent;
	-webkit-text-stroke: 1px #ffffff;
	margin-bottom: 50px;
}

/* Audiocontrol */
.audiocontrol {
	margin-bottom: 130px;
}
.audiocontrol__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.audiocontrol__line {
	max-width: 887px;
	width: 100%;
	height: 2px;
	background: #fff;
	position: relative;
}
.audiocontrol__line::before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 1;
	background: #7a66cc;
}
.audiocontrol__time {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

.section {
	padding: 100px;
}
/* Card */
.card__inner {
	display: flex;
	justify-content: space-between;
}
.card__1 {
	flex: 0 1 auto;
	display: flex;
	align-items: flex-end;
}
.card__img {
	position: relative;
	max-width: 100%;
	top: 0;
	left: 0;
}
.card__text {
	max-width: 350px;
	width: 100%;
	position: absolute;
	background: #7a66cc;
	opacity: 0.7;
	border-radius: 20px 0px;
	padding: 21px 10px 21px 20px;
	position: absolute;
}
.card__title p {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

/* BrightLights */
.BrightLights {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.BrightLights__info {
	max-width: 540px;
	width: 100%;
}
.BrightLights__title {
	display: flex;
	align-items: center;
}
.BrightLights__img {
	margin-right: 30px;
}
.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	color: #ffffff;
}
.BrightLights__text {
	margin-top: 60px;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	opacity: 0.7;
}
.BrightLights__markers {
	display: flex;
	justify-content: space-between;
	margin-top: 61px;
	margin-bottom: 33px;
}
.BrightLights__markers:last-child {
	margin: 0;
}
.BrightLights__item {
	flex: 1 1 0;
	margin-left: 20px;
}
.BrightLights__card--inner {
	background: url(../img/BrightLights/shadow.png) center no-repeat;
}
.BrightLights__card--inner .BrightLights__image {
	transform: translate3d(-95px, -66px, 0);
}

/* PopULove */
.PopULove {
	border: 1px solid #ffffff;
	border-radius: 30px 0;
	padding: 50px 80px;
	display: flex;
	align-items: center;
}
.PopULove__info {
	max-width: 520px;
	width: 100%;
	position: relative;
}
.PopULove__text {
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}
.PopULove__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.PopULove__text::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin: 25px auto;
	background: #ffffff;
	opacity: 0.6;
}
.PopULove__subtext a {
	color: #7a66cc;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #7a66cc;
}
.PopULove__image {
	position: absolute;
	top: -125px;
	left: 650px;
	z-index: 1;
}

/* LastTracks */
.LastTracks {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.LastTracks__info {
	max-width: 540px;
	width: 100%;
}
.LastTracks__title {
	display: flex;
}
.audiocontrol__inner--LastTracks {
	margin-top: 60px;
}
.audiocontrol__line--LastTracks {
	width: 100%;
	max-width: 317px;
}
.LastTracks__songs {
	margin-top: 50px;
}
.songs__item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.songs__item a {
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}
.songs__num {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	opacity: 0.5;
}
.songs__text {
	padding-left: 20px;
}
.songs__text a {
	transition: color 0.1s linear;
}
.songs__text a:hover {
	color: #7a66cc;
}

.LastTracks__Follows {
	display: flex;
	align-items: center;
	margin-top: 50px;
}
.Follows__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}
.Follows__item {
	display: flex;
	align-items: center;
	padding-left: 30px;
}
.Follows__text {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	padding-left: 10px;
}

/* Gallery */
.gallery {
	display: flex;
}
.gallery__col,
.gallery__col-2 {
	flex: 0 1 0;
}
.gallery__col {
	margin-right: 30px;
}
.gallery__col-double {
	display: flex;
}
.gallery__item-double {
	margin-right: 30px;
	margin-bottom: 30px;
}
.gallery__image {
	display: block;
	transition: opacity 0.2s linear;
}
.gallery__item,
.gallery__item-double {
	position: relative;
	background: linear-gradient(0deg, rgba(28, 27, 33, 0.8), rgba(28, 27, 33, 0.8));
	border-radius: 30px 0px;
}
.gallery__text {
	width: 100%;
	padding: 0 15px;
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #7a66cc;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translate3d(0, -50%, 0);
	transition: opacity 0.2s linear;
}
.gallery__item:hover .gallery__image {
	opacity: 0.2;
}
.gallery__item-double:hover .gallery__image {
	opacity: 0.2;
}
.gallery__item:hover .gallery__text {
	opacity: 1;
}
.gallery__item-double:hover .gallery__text {
	opacity: 1;
}

/* News */
.news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}
.news::before {
	content: url(../img/News/prev.svg);
	cursor: pointer;
	display: block;
	position: absolute;
	top: 40%;
	left: -100px;
}
.news::after {
	content: url(../img/News/next.svg);
	cursor: pointer;
	display: block;
	position: absolute;
	right: -100px;
	top: 40%;
}
.news__item {
	background: #2f2b2b;
	border-radius: 30px 0;
	min-width: 350px;
}
.news__photo {
	display: block;
	max-width: 100%;
}
.news__content {
	width: 100%;
	max-width: 310px;
	margin: 0 auto;
}
.news__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
	opacity: 0.5;
	padding-top: 30px;
}
.news__title a {
	color: inherit;
}
.news__text {
	margin-top: 20px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}
.news__footer {
	padding-top: 46px;
	text-transform: uppercase;
	width: 100%;
	max-width: 310px;
	margin: 0 36px 0 40px;
}
.news__footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news__date {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	opacity: 0.5;
	padding: 20px 0;
}
.news__btn {
	background: #7a66cc;
	border-radius: 30px 0px;
	width: 180px;
	padding: 20px 52px 20px 50px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

/* Footer */
.footer {
	padding-top: 100px;
}
.footer__inner {
	max-width: 530px;
	width: 100%;
	margin: 0 auto;
}
.footer__logo {
	text-align: center;
}
.footer__requisites {
	margin-top: 60px;
	text-transform: uppercase;
}
.footer__item-1 {
	display: flex;
	font-size: 18px;
	line-height: 27px;
}
.footer__content-1 {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}
.footer__count-1 {
	margin-left: 30px;
}
.footer__item-2 {
	display: flex;
	margin-left: 141px;
	font-size: 18px;
	line-height: 27px;
}
.footer__content-2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}
.footer__count-2 {
	margin-left: 30px;
}

.social {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social__item {
	flex: 1 1 0;
}

.copyright {
	padding: 100px 0 40px 0;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.5;
}
